In [1]:
import pickle
import numpy as np
import pandas as pd
import cupy as cp
import time
from tqdm import tqdm

## synthetic data(pklíŒŒì¼)ì™€ data(csvíŒŒì¼) ë‘ ë°ì´í„°ì…‹ì—ì„œ ê° í–‰ì„ ë¹„êµí•´ì„œ ë™ì¼í•œ í–‰ì´ ëª‡ ê°œì¸ì§€ í™•ì¸

## Dataframe

In [2]:

dtypes = {'age':'int','workclass':'category','education':'category','marital_status':'category','occupation':'category','relationship':'category','race':'category',
          'gender':'category','capital_gain':'int','capital_loss':'int','hours_per_week':'int','native_country':'category','income':'category'}
columns = list(dtypes.keys())
data = pd.read_csv('adultSalary.csv', names=columns).astype(dtypes)

data

,age,workclass,education,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,39,Private,Bachelors,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K
48838,64,?,HS-grad,Widowed,?,Other-relative,Black,Male,0,0,40,United-States,<=50K
48839,38,Private,Bachelors,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
48840,44,Private,Bachelors,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K
48841,35,Self-emp-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K

In [3]:
n = 20000
n = len(data)
data = data[:n]

### df_synthpop

In [ ]:
# pkl íŒŒì¼ ê²½ë¡œë¥¼ ì§€ì •í•©ë‹ˆë‹¤.
df_synthpop_pkl = '/home/casey/workspace/BigDataSystem/df_synthpop.pickle'
# íŒŒì¼ì„ ì½ê¸° ëª¨ë“œ(rb)ë¡œ ì—´ì–´ì„œ ë°ì´í„°ë¥¼ ë¡œë“œí•©ë‹ˆë‹¤.
with open(df_synthpop_pkl, 'rb') as f:
    synth_data = pickle.load(f)
    
# ë°ì´í„°ë¥¼ í™•ì¸í•©ë‹ˆë‹¤.
synth_data

FileNotFoundError: [Errno 2] No such file or directory: '/home/q/casey/BigDataSystem/df_synthpop.pickle'

In [6]:
import pandas as pd
import time
from tqdm import tqdm

# ë°ì´í„°ë¥¼ ì›ë³¸ ê·¸ëŒ€ë¡œ ìœ ì§€í•˜ë©´ì„œ ì¸ë±ìŠ¤ë¥¼ ì¬ì„¤ì •í•˜ì§€ ì•Šë„ë¡ í•˜ì—¬ ë¹„êµ
data_list = []
synth_data_list = []

# ì›ë³¸ ë°ì´í„°ì™€ í•©ì„± ë°ì´í„°ì˜ ì¸ë±ìŠ¤ë¥¼ ë§ì¶”ëŠ” ê³¼ì •
data = data.reset_index(drop=True)
synth_data = synth_data.reset_index(drop=True)

# ì–˜ ë•œì— index ë³€ê²½ë¨
# synth_data = synth_data[:n-int(n*0.1)]
# synth_data = pd.concat([data[:int(n*0.1)], synth_data])

# í–‰ ë°ì´í„°ë¥¼ ë¦¬ìŠ¤íŠ¸ë¡œ ë³€í™˜
stime = time.time()
for i in range(len(synth_data)):
    data_list.append(data.iloc[i, :].values.flatten().tolist())
    synth_data_list.append(synth_data.iloc[i, :].values.flatten().tolist())

cnt = 0
for row1 in tqdm(synth_data_list):
    for row2 in data_list:
        if row1 == row2:
            cnt += 1
            break

print("List ë°©ì‹ ì‹œê°„:", time.time() - stime)
print("ì¤‘ë³µë¥ :", cnt / len(synth_data))

# ì¸ë±ìŠ¤ í™•ì¸
print(data.index.equals(synth_data.index))  # Trueë¡œ ë‚˜ì™€ì•¼ í•¨

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 48842/48842 [03:14<00:00, 250.71it/s]

List ë°©ì‹ ì‹œê°„: 200.10972094535828
ì¤‘ë³µë¥ : 0.4122886040702674
True

### listë¡œ ë°”ê¿”ì„œ í•´ë³´ê¸°
- ì´ë ‡ê²Œ í•˜ë©´ ì›í•˜ëŠ” ê°’ì´ ìˆëŠ”ì§€ í™•ì¸í•  ìˆ˜ ìˆìŒ
- DataFrameê³¼ List ì†ë„ ì°¨ì´ : List, arrayë¡œ ë°”ê¿”ì„œ ì‚¬ìš©í•˜ë©´ ë” ë¹ ë¦„

In [33]:
print(data.index.equals(synth_data.index))

True

### í•´ì‹œ (set) + íŠœí”Œ ë°©ì‹

In [ ]:
stime = time.time()

# 1) ì›ë³¸ í–‰ì„ íŠœí”Œë¡œ ë°”ê¿” setì— ì €ì¥
orig_tuples = set(map(tuple, data.values))
print(data.values)
print("========")
print(synth_data.values)
# 2) í•©ì„± í–‰ì„ íŠœí”Œë¡œ ë°”ê¿”ì„œ in ì—°ì‚°
cnt = 0
for row in synth_data.values:
    if tuple(row) in orig_tuples:
        cnt += 1

print("ì‹œê°„:", time.time() - stime) 
print("ì¤‘ë³µë¥ :", cnt / len(synth_data)) 
print(cnt)

[[39 'State-gov' 'Bachelors' ... 40 'United-States' '<=50K']
 [50 'Self-emp-not-inc' 'Bachelors' ... 13 'United-States' '<=50K']
 [38 'Private' 'HS-grad' ... 40 'United-States' '<=50K']
 ...
 [38 'Private' 'Bachelors' ... 50 'United-States' '<=50K']
 [44 'Private' 'Bachelors' ... 40 'United-States' '<=50K']
 [35 'Self-emp-inc' 'Bachelors' ... 60 'United-States' '>50K']]
========
[[67 '?' 'HS-grad' ... 4 'United-States' '<=50K']
 [21 'Private' 'Some-college' ... 40 'United-States' '<=50K']
 [55 'Self-emp-not-inc' 'Bachelors' ... 30 'United-States' '<=50K']
 ...
 [71 'Self-emp-inc' 'Some-college' ... 24 'United-States' '<=50K']
 [25 'Private' 'HS-grad' ... 40 'United-States' '<=50K']
 [51 'Private' '10th' ... 30 'United-States' '<=50K']]
ì‹œê°„: 0.11937212944030762
ì¤‘ë³µë¥ : 0.4122886040702674
20137

### Numba

In [8]:
import numba

# Numba JITë¥¼ ì‚¬ìš©í•œ ì¤‘ë³µ ì²´í¬ í•¨ìˆ˜ (ë³‘ë ¬ ì²˜ë¦¬)
@numba.jit(nopython=True, parallel=True)
def check_duplicates(data, synth_data):
    n_s = len(synth_data)
    n_o = len(data)
    cnt = 0
    for i in numba.prange(n_s):  # ë³‘ë ¬í™”
        for j in range(n_o):
            if np.all(data[j] == synth_data[i]):
                cnt += 1
                break  # ì¤‘ë³µì„ ì°¾ìœ¼ë©´ ë” ì´ìƒ ë¹„êµí•˜ì§€ ì•ŠìŒ
    return cnt

# ëª¨ë“  ë²”ì£¼í˜• ë°ì´í„°ë¥¼ ì›í•« ì¸ì½”ë”©
data_encoded = pd.get_dummies(data)
synth_encoded = pd.get_dummies(synth_data)

# ì»¬ëŸ¼ì´ ì™„ì „íˆ ê°™ë„ë¡ ì •ë ¬ (ì¤‘ìš”!)
synth_encoded = synth_encoded.reindex(columns=data_encoded.columns, fill_value=0)
print(synth_encoded.index.equals(data_encoded.index))

# pandas DataFrameì„ NumPy ë°°ì—´ë¡œ ë³€í™˜í•  ë•Œ, dtypeì„ ëª…ì‹œì ìœ¼ë¡œ ì§€ì • (float32ë¡œ ë³€í™˜)
data_numpy = data_encoded.to_numpy(dtype=np.float32)  # float32ë¡œ ë³€í™˜
synth_data_numpy = synth_encoded.to_numpy(dtype=np.float32)  # float32ë¡œ ë³€í™˜


# ì²« ë²ˆì§¸ ì‹¤í–‰ ì‹œê°„ ì¸¡ì • (JIT ì»´íŒŒì¼ í¬í•¨)
stime = time.time()
duplicates_1 = check_duplicates(data_numpy, synth_data_numpy)
etime = time.time()
print(f"ì²« ë²ˆì§¸ ì‹¤í–‰ ì‹œê°„: {etime - stime:.4f} ì´ˆ")

# ë‘ ë²ˆì§¸ ì‹¤í–‰ ì‹œê°„ ì¸¡ì • (ì»´íŒŒì¼ëœ ì½”ë“œê°€ ìºì‹œë¨)
stime = time.time()
duplicates_2 = check_duplicates(data_numpy, synth_data_numpy)
etime = time.time()
print(f"ë‘ ë²ˆì§¸ ì‹¤í–‰ ì‹œê°„: {etime - stime:.4f} ì´ˆ")

# ì¤‘ë³µë¥  ì¶œë ¥
print(f"ì¤‘ë³µë¥ : {duplicates_1 / len(synth_data_numpy):.4f}")

True
ì²« ë²ˆì§¸ ì‹¤í–‰ ì‹œê°„: 34.2307 ì´ˆ
ë‘ ë²ˆì§¸ ì‹¤í–‰ ì‹œê°„: 33.8164 ì´ˆ
ì¤‘ë³µë¥ : 0.4123

ì•„ë‹ˆ ë‘ë²ˆì§¸ ì‹¤í–‰ì—ì„œ ì—„ì²­ ë¹¨ë¼ì§ˆ ì¤„ ì•Œì•˜ë”ë‹ˆ ì™œ ì•ˆë¨?

### Numpy

In [9]:
stime = time.time()
a = data.to_numpy()
b = synth_data.to_numpy()

cnt = sum([np.any(np.all(row == a, axis=1)) for row in b])

print("Numpy ë°©ì‹ ì‹œê°„:", time.time() - stime)
print("ì¤‘ë³µë¥ :", cnt / len(b))
# Numpy ë°©ì‹ ì‹œê°„: 231.23529720306396
# ì¤‘ë³µë¥ : 0.47049670365668894

Numpy ë°©ì‹ ì‹œê°„: 238.78452682495117
ì¤‘ë³µë¥ : 0.4122886040702674

### Cupy

In [73]:
import pandas as pd
import cupy as cp
import time

# ëª¨ë“  ë²”ì£¼í˜• ë°ì´í„°ë¥¼ ì›í•« ì¸ì½”ë”©
data_encoded = pd.get_dummies(data)
synth_encoded = pd.get_dummies(synth_data)

# ì»¬ëŸ¼ì´ ì™„ì „íˆ ê°™ë„ë¡ ì •ë ¬ (ì¤‘ìš”!)
synth_encoded = synth_encoded.reindex(columns=data_encoded.columns, fill_value=0)

# CuPyë¡œ ë³€í™˜ (numpy ë°°ì—´ì„ CUDA GPU ë©”ëª¨ë¦¬ë¡œ ë³µì‚¬)
stime = time.time()
a_gpu = cp.asarray(data_encoded.to_numpy(dtype='float32'))  # cupy ë°°ì—´ ê°ì²´ 
b_gpu = cp.asarray(synth_encoded.to_numpy(dtype='float32')) # cupy ë°°ì—´ ê°ì²´
# ì¤‘ë³µ ì²´í¬
# cnt = 0
# for i in range(b_gpu.shape[0]):
#     ## ê° ì›ë³¸ í–‰ì´ ëª¨ë“  ì»¬ëŸ¼ì—ì„œ ì¼ì¹˜ í•˜ëŠ”ì§€ -> ì›ë³¸ ì¤‘ í•˜ë‚˜ë¼ë„ ì™„ì „ ì¼ì¹˜ í•˜ëŠ” í–‰ ìˆëŠ”ì§€
#     if cp.any(cp.all(b_gpu[i] == a_gpu, axis=1)):  
#         cnt += 1


# cp.isinì„ ì‚¬ìš©í•˜ì—¬ ì¼ì¹˜ ì—¬ë¶€ ê³„ì‚°
matching_rows = cp.isin(a_gpu, b_gpu)
list = cp.where(cp.isin(a_gpu, b_gpu) == False)[0]
for x in list:
    print(x)

# Falseì¸ ê°’ë§Œ ì¶”ì¶œ (a_gpuì—ì„œ b_gpuì— í¬í•¨ë˜ì§€ ì•ŠëŠ” ê°’)
non_matching_rows = a_gpu[~matching_rows]

# ì¤‘ë³µë¥  ê³„ì‚° (ì¤‘ë³µëœ ê°’ì˜ ë¹„ìœ¨)
unique_non_matching_rows = cp.unique(non_matching_rows)  # ì¤‘ë³µ ì œê±°ëœ ê°’ë“¤
non_matching_count = non_matching_rows.shape[0]  # Falseì¸ ê°’ë“¤ì˜ ì´ ê°œìˆ˜
print(non_matching_count)
unique_non_matching_count = unique_non_matching_rows.shape[0]  # ì¤‘ë³µì„ ì œê±°í•œ ê°’ë“¤ì˜ ê°œìˆ˜
print(unique_non_matching_count)
print(((1-0.5384615384615384) - 0.47049670365668894)*48842)
# ì¤‘ë³µë¥  ê³„ì‚°
duplicate_ratio = 1 - (unique_non_matching_count / non_matching_count)
etime    = time.time()

print("CuPy ë°©ì‹ ì‹œê°„:", etime - stime)
print("ì¤‘ë³µë¥ :",duplicate_ratio)
# CuPy ë°©ì‹ ì‹œê°„: 15.944603443145752
# ì¤‘ë³µë¥ : 0.47049670365668894

6959
10659
17609
19353
20417
24791
28474
40726
40819
41812
42117
48034
48473
13
6
-437.53846153846155
CuPy ë°©ì‹ ì‹œê°„: 0.027443408966064453
ì¤‘ë³µë¥ : 0.5384615384615384

In [48]:
import pandas as pd
import cupy as cp
import numpy as np
import time
import hashlib

# 1. ì›í•« ì¸ì½”ë”©
data_encoded = pd.get_dummies(data)
synth_encoded = pd.get_dummies(synth_data)

# 2. ì»¬ëŸ¼ í†µì¼ ë° ìˆœì„œ ë³´ì¥
all_columns = sorted(set(data_encoded.columns).union(set(synth_encoded.columns)))
data_encoded = data_encoded.reindex(columns=all_columns, fill_value=0).astype(np.uint8)
synth_encoded = synth_encoded.reindex(columns=all_columns, fill_value=0).astype(np.uint8)
# 3. í–‰ ë‹¨ìœ„ í•´ì‹œ í•¨ìˆ˜
def hash_row(row):
    return np.uint64(int(hashlib.md5(row.tobytes()).hexdigest(), 16) & 0xFFFFFFFFFFFFFFFF)

# 4. í•´ì‹œê°’ìœ¼ë¡œ ë³€í™˜
data_hashes = np.array([hash_row(row) for row in data_encoded.to_numpy()])
synth_hashes = np.array([hash_row(row) for row in synth_encoded.to_numpy()])
stime = time.time()

# 6. CuPy ë¹„êµ
a_gpu = cp.asarray(data_hashes)
b_gpu = cp.asarray(synth_hashes)
matched_gpu = cp.isin(b_gpu, a_gpu)
etime = time.time()
# 7. ê²°ê³¼
count = int(cp.sum(matched_gpu))
duplication_ratio = count / len(b_gpu)
print(" CUPY :" ,etime - stime)
print("ì¤‘ë³µëœ ê³ ìœ  í–‰ ìˆ˜:", count)
print("ì¤‘ë³µë¥ :", duplication_ratio)

 CUPY : 0.016727447509765625
ì¤‘ë³µëœ ê³ ìœ  í–‰ ìˆ˜: 20137
ì¤‘ë³µë¥ : 0.4122886040702674

- numpy : ì•ˆì—ì„œ C, í¬íŠ¸ë€?? ìœ¼ë¡œ ëŒì•„ì„œ.ë¹ ë¦„
- list
- 1) ë¬¸ì œ í•´ê²° ì‹œê°„ ë‹¨ì¶• ë…¸ë ¥ í•´ë³´ê¸°~
- 2) cython? ì€ ì–´ë ¤ì›€

In [56]:
# 1. ë²”ìœ„ ê³„ì‚° í•¨ìˆ˜
def compute_ranges(original_df, dtypes):
    ranges = []
    for col in original_df.columns:
        if dtypes[col] == 'category':
            ranges.append(0)
        else:
            col_data = original_df[col].astype(float)
            ranges.append(col_data.max() - col_data.min())
    return dict(zip(original_df.columns, ranges))

# 2. ì›í•« range ê³„ì‚°
def get_onehot_ranges(data_encoded, original_columns, raw_ranges):
    onehot_ranges = []
    for col in data_encoded.columns:
        base_col = col.split('_')[0]
        range_val = raw_ranges.get(base_col, 1)
        onehot_ranges.append(0 if range_val == 0 else 1)
    return np.array(onehot_ranges, dtype=np.float32)

# 3. CuPy ê¸°ë°˜ originality ê³„ì‚°
def calculate_originality_score_cupy(origin_np, synth_np, ranges_np):
    origin = cp.asarray(origin_np)
    synth = cp.asarray(synth_np)
    ranges = cp.asarray(ranges_np)
    
    n_s, k = synth.shape
    n_o = origin.shape[0]
    cnt_satisfied = 0
    stime = time.time()

    for i in range(n_s):
        y = synth[i]

        diff = cp.abs(origin - y)
        normed = cp.where(ranges == 0, (origin != y).astype(cp.float32), diff / ranges)
        dists = cp.mean(normed, axis=1)
        d_s = cp.min(dists)
        jj = cp.argmin(dists)

        mask = cp.arange(n_o) != jj
        origin_others = origin[mask]
        ref = origin[jj]

        diff_o = cp.abs(origin_others - ref)
        normed_o = cp.where(ranges == 0, (origin_others != ref).astype(cp.float32), diff_o / ranges)
        dists_o = cp.mean(normed_o, axis=1)
        d_o = cp.min(dists_o)

        if d_s < d_o:
            cnt_satisfied += 1

    etime = time.time()
    score = cnt_satisfied / n_s

    print(f"\nâœ… Originality Score (d_s < d_o): {score:.4f}")
    print(f"âœ”ï¸ {cnt_satisfied} / {n_s} í•©ì„± ìƒ˜í”Œì´ ì¡°ê±´ ë§Œì¡±")
    print(f"â±ï¸ ì‹¤í–‰ ì‹œê°„: {etime - stime:.2f}ì´ˆ")
    return score

In [57]:
# 4. ranges ê³„ì‚° (ì›ë³¸ ê¸°ì¤€)
raw_ranges = compute_ranges(data, dtypes)

# 5. ì›í•« ì¸ì½”ë”©
data_encoded = pd.get_dummies(data)
synth_encoded = pd.get_dummies(synth_data)

# 6. ì»¬ëŸ¼ í†µì¼
all_columns = sorted(set(data_encoded.columns).union(set(synth_encoded.columns)))
data_encoded = data_encoded.reindex(columns=all_columns, fill_value=0).astype(np.float32)
synth_encoded = synth_encoded.reindex(columns=all_columns, fill_value=0).astype(np.float32)

# 7. onehotì— ëŒ€í•œ range ë§¤í•‘
ranges_np = get_onehot_ranges(data_encoded, data.columns, raw_ranges)

# 8. NumPy ë³€í™˜
origin_np = data_encoded.to_numpy()
synth_np = synth_encoded.to_numpy()

# 9. originality score ê³„ì‚°
originality_score = calculate_originality_score_cupy(origin_np, synth_np, ranges_np)

if originality_score >= 0.5:
    print("ğŸ¯ Originality ê¸°ì¤€ ë§Œì¡±")
else:
    print("âš ï¸ Originality ê¸°ì¤€ ë¯¸ë‹¬")

âœ… Originality Score (d_s < d_o): 0.4479
âœ”ï¸ 21877 / 48842 í•©ì„± ìƒ˜í”Œì´ ì¡°ê±´ ë§Œì¡±
â±ï¸ ì‹¤í–‰ ì‹œê°„: 112.32ì´ˆ
âš ï¸ Originality ê¸°ì¤€ ë¯¸ë‹¬