In [2]:
import pickle
import numpy as np
import pandas as pd
import cupy as cp
import time
from tqdm import tqdm

/home/q/anaconda3/lib/python3.11/site-packages/cupy/_environment.py:541: UserWarning:
--------------------------------------------------------------------------------

  CuPy may not function correctly because multiple CuPy packages are installed
  in your environment:

    cupy, cupy-cuda11x

  Follow these steps to resolve this issue:

    1. For all packages listed above, run the following command to remove all
       existing CuPy installations:

         $ pip uninstall <package_name>

      If you previously installed CuPy via conda, also run the following:

         $ conda uninstall cupy

    2. Install the appropriate CuPy package.
       Refer to the Installation Guide for detailed instructions.

         https://docs.cupy.dev/en/stable/install.html

--------------------------------------------------------------------------------

  warnings.warn(f'''

## synthetic data(pklÌååÏùº)ÏôÄ data(csvÌååÏùº) Îëê Îç∞Ïù¥ÌÑ∞ÏÖãÏóêÏÑú Í∞Å ÌñâÏùÑ ÎπÑÍµêÌï¥ÏÑú ÎèôÏùºÌïú ÌñâÏù¥ Î™á Í∞úÏù∏ÏßÄ ÌôïÏù∏

## Dataframe

In [38]:

dtypes = {'age':'int','workclass':'category','education':'category','marital_status':'category','occupation':'category','relationship':'category','race':'category',
          'gender':'category','capital_gain':'int','capital_loss':'int','hours_per_week':'int','native_country':'category','income':'category'}
columns = list(dtypes.keys())
data = pd.read_csv('adultSalary.csv', names=columns).astype(dtypes)

data

,age,workclass,education,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,39,Private,Bachelors,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K
48838,64,?,HS-grad,Widowed,?,Other-relative,Black,Male,0,0,40,United-States,<=50K
48839,38,Private,Bachelors,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
48840,44,Private,Bachelors,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K
48841,35,Self-emp-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K

In [39]:
n = 20000
n = len(data)
data = data[:n]

### df_synthpop

In [40]:
# pkl ÌååÏùº Í≤ΩÎ°úÎ•º ÏßÄÏ†ïÌï©ÎãàÎã§.
df_synthpop_pkl = '/home/q/casey/BigDataSystem/df_synthpop.pickle'
# ÌååÏùºÏùÑ ÏùΩÍ∏∞ Î™®Îìú(rb)Î°ú Ïó¥Ïñ¥ÏÑú Îç∞Ïù¥ÌÑ∞Î•º Î°úÎìúÌï©ÎãàÎã§.
with open(df_synthpop_pkl, 'rb') as f:
    synth_data = pickle.load(f)
    
# Îç∞Ïù¥ÌÑ∞Î•º ÌôïÏù∏Ìï©ÎãàÎã§.
synth_data

,age,workclass,education,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income
0,67,?,HS-grad,Married-civ-spouse,?,Wife,White,Female,0,0,4,United-States,<=50K
1,21,Private,Some-college,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
2,55,Self-emp-not-inc,Bachelors,Married-civ-spouse,Sales,Husband,White,Male,0,0,30,United-States,<=50K
3,33,Private,Bachelors,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,65,United-States,>50K
4,53,Local-gov,11th,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,26,Private,10th,Never-married,Craft-repair,Other-relative,Black,Male,0,0,20,United-States,<=50K
48838,33,Self-emp-not-inc,HS-grad,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
48839,71,Self-emp-inc,Some-college,Widowed,Exec-managerial,Not-in-family,White,Female,0,0,24,United-States,<=50K
48840,25,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
48841,51,Private,10th,Never-married,Machine-op-inspct,Not-in-family,White,Male,0,0,30,United-States,<=50K

In [6]:
import pandas as pd
import time
from tqdm import tqdm

# Îç∞Ïù¥ÌÑ∞Î•º ÏõêÎ≥∏ Í∑∏ÎåÄÎ°ú Ïú†ÏßÄÌïòÎ©¥ÏÑú Ïù∏Îç±Ïä§Î•º Ïû¨ÏÑ§Ï†ïÌïòÏßÄ ÏïäÎèÑÎ°ù ÌïòÏó¨ ÎπÑÍµê
data_list = []
synth_data_list = []

# ÏõêÎ≥∏ Îç∞Ïù¥ÌÑ∞ÏôÄ Ìï©ÏÑ± Îç∞Ïù¥ÌÑ∞Ïùò Ïù∏Îç±Ïä§Î•º ÎßûÏ∂îÎäî Í≥ºÏ†ï
data = data.reset_index(drop=True)
synth_data = synth_data.reset_index(drop=True)

# Ïñò ÎïúÏóê index Î≥ÄÍ≤ΩÎê®
# synth_data = synth_data[:n-int(n*0.1)]
# synth_data = pd.concat([data[:int(n*0.1)], synth_data])

# Ìñâ Îç∞Ïù¥ÌÑ∞Î•º Î¶¨Ïä§Ìä∏Î°ú Î≥ÄÌôò
stime = time.time()
for i in range(len(synth_data)):
    data_list.append(data.iloc[i, :].values.flatten().tolist())
    synth_data_list.append(synth_data.iloc[i, :].values.flatten().tolist())

cnt = 0
for row1 in tqdm(synth_data_list):
    for row2 in data_list:
        if row1 == row2:
            cnt += 1
            break

print("List Î∞©Ïãù ÏãúÍ∞Ñ:", time.time() - stime)
print("Ï§ëÎ≥µÎ•†:", cnt / len(synth_data))

# Ïù∏Îç±Ïä§ ÌôïÏù∏
print(data.index.equals(synth_data.index))  # TrueÎ°ú ÎÇòÏôÄÏïº Ìï®

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 48842/48842 [03:14<00:00, 250.71it/s]

List Î∞©Ïãù ÏãúÍ∞Ñ: 200.10972094535828
Ï§ëÎ≥µÎ•†: 0.4122886040702674
True

### listÎ°ú Î∞îÍøîÏÑú Ìï¥Î≥¥Í∏∞
- Ïù¥Î†áÍ≤å ÌïòÎ©¥ ÏõêÌïòÎäî Í∞íÏù¥ ÏûàÎäîÏßÄ ÌôïÏù∏Ìï† Ïàò ÏûàÏùå
- DataFrameÍ≥º List ÏÜçÎèÑ Ï∞®Ïù¥ : List, arrayÎ°ú Î∞îÍøîÏÑú ÏÇ¨Ïö©ÌïòÎ©¥ Îçî Îπ†Î¶Ñ

In [33]:
print(data.index.equals(synth_data.index))

True

### Ìï¥Ïãú (set) + ÌäúÌîå Î∞©Ïãù

In [ ]:
stime = time.time()

# 1) ÏõêÎ≥∏ ÌñâÏùÑ ÌäúÌîåÎ°ú Î∞îÍøî setÏóê Ï†ÄÏû•
orig_tuples = set(map(tuple, data.values))
print(data.values)
print("========")
print(synth_data.values)
# 2) Ìï©ÏÑ± ÌñâÏùÑ ÌäúÌîåÎ°ú Î∞îÍøîÏÑú in Ïó∞ÏÇ∞
cnt = 0
for row in synth_data.values:
    if tuple(row) in orig_tuples:
        cnt += 1

print("ÏãúÍ∞Ñ:", time.time() - stime) 
print("Ï§ëÎ≥µÎ•†:", cnt / len(synth_data)) 
print(cnt)

[[39 'State-gov' 'Bachelors' ... 40 'United-States' '<=50K']
 [50 'Self-emp-not-inc' 'Bachelors' ... 13 'United-States' '<=50K']
 [38 'Private' 'HS-grad' ... 40 'United-States' '<=50K']
 ...
 [38 'Private' 'Bachelors' ... 50 'United-States' '<=50K']
 [44 'Private' 'Bachelors' ... 40 'United-States' '<=50K']
 [35 'Self-emp-inc' 'Bachelors' ... 60 'United-States' '>50K']]
========
[[67 '?' 'HS-grad' ... 4 'United-States' '<=50K']
 [21 'Private' 'Some-college' ... 40 'United-States' '<=50K']
 [55 'Self-emp-not-inc' 'Bachelors' ... 30 'United-States' '<=50K']
 ...
 [71 'Self-emp-inc' 'Some-college' ... 24 'United-States' '<=50K']
 [25 'Private' 'HS-grad' ... 40 'United-States' '<=50K']
 [51 'Private' '10th' ... 30 'United-States' '<=50K']]
ÏãúÍ∞Ñ: 0.11937212944030762
Ï§ëÎ≥µÎ•†: 0.4122886040702674
20137

### Numba

In [8]:
import numba

# Numba JITÎ•º ÏÇ¨Ïö©Ìïú Ï§ëÎ≥µ Ï≤¥ÌÅ¨ Ìï®Ïàò (Î≥ëÎ†¨ Ï≤òÎ¶¨)
@numba.jit(nopython=True, parallel=True)
def check_duplicates(data, synth_data):
    n_s = len(synth_data)
    n_o = len(data)
    cnt = 0
    for i in numba.prange(n_s):  # Î≥ëÎ†¨Ìôî
        for j in range(n_o):
            if np.all(data[j] == synth_data[i]):
                cnt += 1
                break  # Ï§ëÎ≥µÏùÑ Ï∞æÏúºÎ©¥ Îçî Ïù¥ÏÉÅ ÎπÑÍµêÌïòÏßÄ ÏïäÏùå
    return cnt

# Î™®Îì† Î≤îÏ£ºÌòï Îç∞Ïù¥ÌÑ∞Î•º ÏõêÌï´ Ïù∏ÏΩîÎî©
data_encoded = pd.get_dummies(data)
synth_encoded = pd.get_dummies(synth_data)

# Ïª¨ÎüºÏù¥ ÏôÑÏ†ÑÌûà Í∞ôÎèÑÎ°ù Ï†ïÎ†¨ (Ï§ëÏöî!)
synth_encoded = synth_encoded.reindex(columns=data_encoded.columns, fill_value=0)
print(synth_encoded.index.equals(data_encoded.index))

# pandas DataFrameÏùÑ NumPy Î∞∞Ïó¥Î°ú Î≥ÄÌôòÌï† Îïå, dtypeÏùÑ Î™ÖÏãúÏ†ÅÏúºÎ°ú ÏßÄÏ†ï (float32Î°ú Î≥ÄÌôò)
data_numpy = data_encoded.to_numpy(dtype=np.float32)  # float32Î°ú Î≥ÄÌôò
synth_data_numpy = synth_encoded.to_numpy(dtype=np.float32)  # float32Î°ú Î≥ÄÌôò


# Ï≤´ Î≤àÏß∏ Ïã§Ìñâ ÏãúÍ∞Ñ Ï∏°Ï†ï (JIT Ïª¥ÌååÏùº Ìè¨Ìï®)
stime = time.time()
duplicates_1 = check_duplicates(data_numpy, synth_data_numpy)
etime = time.time()
print(f"Ï≤´ Î≤àÏß∏ Ïã§Ìñâ ÏãúÍ∞Ñ: {etime - stime:.4f} Ï¥à")

# Îëê Î≤àÏß∏ Ïã§Ìñâ ÏãúÍ∞Ñ Ï∏°Ï†ï (Ïª¥ÌååÏùºÎêú ÏΩîÎìúÍ∞Ä Ï∫êÏãúÎê®)
stime = time.time()
duplicates_2 = check_duplicates(data_numpy, synth_data_numpy)
etime = time.time()
print(f"Îëê Î≤àÏß∏ Ïã§Ìñâ ÏãúÍ∞Ñ: {etime - stime:.4f} Ï¥à")

# Ï§ëÎ≥µÎ•† Ï∂úÎ†•
print(f"Ï§ëÎ≥µÎ•†: {duplicates_1 / len(synth_data_numpy):.4f}")

True
Ï≤´ Î≤àÏß∏ Ïã§Ìñâ ÏãúÍ∞Ñ: 34.2307 Ï¥à
Îëê Î≤àÏß∏ Ïã§Ìñâ ÏãúÍ∞Ñ: 33.8164 Ï¥à
Ï§ëÎ≥µÎ•†: 0.4123

ÏïÑÎãà ÎëêÎ≤àÏß∏ Ïã§ÌñâÏóêÏÑú ÏóÑÏ≤≠ Îπ®ÎùºÏßà Ï§Ñ ÏïåÏïòÎçîÎãà Ïôú ÏïàÎê®?

### Numpy

In [9]:
stime = time.time()
a = data.to_numpy()
b = synth_data.to_numpy()

cnt = sum([np.any(np.all(row == a, axis=1)) for row in b])

print("Numpy Î∞©Ïãù ÏãúÍ∞Ñ:", time.time() - stime)
print("Ï§ëÎ≥µÎ•†:", cnt / len(b))
# Numpy Î∞©Ïãù ÏãúÍ∞Ñ: 231.23529720306396
# Ï§ëÎ≥µÎ•†: 0.47049670365668894

Numpy Î∞©Ïãù ÏãúÍ∞Ñ: 238.78452682495117
Ï§ëÎ≥µÎ•†: 0.4122886040702674

### Cupy

In [73]:
import pandas as pd
import cupy as cp
import time

# Î™®Îì† Î≤îÏ£ºÌòï Îç∞Ïù¥ÌÑ∞Î•º ÏõêÌï´ Ïù∏ÏΩîÎî©
data_encoded = pd.get_dummies(data)
synth_encoded = pd.get_dummies(synth_data)

# Ïª¨ÎüºÏù¥ ÏôÑÏ†ÑÌûà Í∞ôÎèÑÎ°ù Ï†ïÎ†¨ (Ï§ëÏöî!)
synth_encoded = synth_encoded.reindex(columns=data_encoded.columns, fill_value=0)

# CuPyÎ°ú Î≥ÄÌôò (numpy Î∞∞Ïó¥ÏùÑ CUDA GPU Î©îÎ™®Î¶¨Î°ú Î≥µÏÇ¨)
stime = time.time()
a_gpu = cp.asarray(data_encoded.to_numpy(dtype='float32'))  # cupy Î∞∞Ïó¥ Í∞ùÏ≤¥ 
b_gpu = cp.asarray(synth_encoded.to_numpy(dtype='float32')) # cupy Î∞∞Ïó¥ Í∞ùÏ≤¥
# Ï§ëÎ≥µ Ï≤¥ÌÅ¨
# cnt = 0
# for i in range(b_gpu.shape[0]):
#     ## Í∞Å ÏõêÎ≥∏ ÌñâÏù¥ Î™®Îì† Ïª¨ÎüºÏóêÏÑú ÏùºÏπò ÌïòÎäîÏßÄ -> ÏõêÎ≥∏ Ï§ë ÌïòÎÇòÎùºÎèÑ ÏôÑÏ†Ñ ÏùºÏπò ÌïòÎäî Ìñâ ÏûàÎäîÏßÄ
#     if cp.any(cp.all(b_gpu[i] == a_gpu, axis=1)):  
#         cnt += 1


# cp.isinÏùÑ ÏÇ¨Ïö©ÌïòÏó¨ ÏùºÏπò Ïó¨Î∂Ä Í≥ÑÏÇ∞
matching_rows = cp.isin(a_gpu, b_gpu)
list = cp.where(cp.isin(a_gpu, b_gpu) == False)[0]
for x in list:
    print(x)

# FalseÏù∏ Í∞íÎßå Ï∂îÏ∂ú (a_gpuÏóêÏÑú b_gpuÏóê Ìè¨Ìï®ÎêòÏßÄ ÏïäÎäî Í∞í)
non_matching_rows = a_gpu[~matching_rows]

# Ï§ëÎ≥µÎ•† Í≥ÑÏÇ∞ (Ï§ëÎ≥µÎêú Í∞íÏùò ÎπÑÏú®)
unique_non_matching_rows = cp.unique(non_matching_rows)  # Ï§ëÎ≥µ Ï†úÍ±∞Îêú Í∞íÎì§
non_matching_count = non_matching_rows.shape[0]  # FalseÏù∏ Í∞íÎì§Ïùò Ï¥ù Í∞úÏàò
print(non_matching_count)
unique_non_matching_count = unique_non_matching_rows.shape[0]  # Ï§ëÎ≥µÏùÑ Ï†úÍ±∞Ìïú Í∞íÎì§Ïùò Í∞úÏàò
print(unique_non_matching_count)
print(((1-0.5384615384615384) - 0.47049670365668894)*48842)
# Ï§ëÎ≥µÎ•† Í≥ÑÏÇ∞
duplicate_ratio = 1 - (unique_non_matching_count / non_matching_count)
etime    = time.time()

print("CuPy Î∞©Ïãù ÏãúÍ∞Ñ:", etime - stime)
print("Ï§ëÎ≥µÎ•†:",duplicate_ratio)
# CuPy Î∞©Ïãù ÏãúÍ∞Ñ: 15.944603443145752
# Ï§ëÎ≥µÎ•†: 0.47049670365668894

6959
10659
17609
19353
20417
24791
28474
40726
40819
41812
42117
48034
48473
13
6
-437.53846153846155
CuPy Î∞©Ïãù ÏãúÍ∞Ñ: 0.027443408966064453
Ï§ëÎ≥µÎ•†: 0.5384615384615384

In [48]:
import pandas as pd
import cupy as cp
import numpy as np
import time
import hashlib

# 1. ÏõêÌï´ Ïù∏ÏΩîÎî©
data_encoded = pd.get_dummies(data)
synth_encoded = pd.get_dummies(synth_data)

# 2. Ïª¨Îüº ÌÜµÏùº Î∞è ÏàúÏÑú Î≥¥Ïû•
all_columns = sorted(set(data_encoded.columns).union(set(synth_encoded.columns)))
data_encoded = data_encoded.reindex(columns=all_columns, fill_value=0).astype(np.uint8)
synth_encoded = synth_encoded.reindex(columns=all_columns, fill_value=0).astype(np.uint8)
# 3. Ìñâ Îã®ÏúÑ Ìï¥Ïãú Ìï®Ïàò
def hash_row(row):
    return np.uint64(int(hashlib.md5(row.tobytes()).hexdigest(), 16) & 0xFFFFFFFFFFFFFFFF)

# 4. Ìï¥ÏãúÍ∞íÏúºÎ°ú Î≥ÄÌôò
data_hashes = np.array([hash_row(row) for row in data_encoded.to_numpy()])
synth_hashes = np.array([hash_row(row) for row in synth_encoded.to_numpy()])
stime = time.time()

# 6. CuPy ÎπÑÍµê
a_gpu = cp.asarray(data_hashes)
b_gpu = cp.asarray(synth_hashes)
matched_gpu = cp.isin(b_gpu, a_gpu)
etime = time.time()
# 7. Í≤∞Í≥º
count = int(cp.sum(matched_gpu))
duplication_ratio = count / len(b_gpu)
print(" CUPY :" ,etime - stime)
print("Ï§ëÎ≥µÎêú Í≥†Ïú† Ìñâ Ïàò:", count)
print("Ï§ëÎ≥µÎ•†:", duplication_ratio)

 CUPY : 0.016727447509765625
Ï§ëÎ≥µÎêú Í≥†Ïú† Ìñâ Ïàò: 20137
Ï§ëÎ≥µÎ•†: 0.4122886040702674

- numpy : ÏïàÏóêÏÑú C, Ìè¨Ìä∏ÎûÄ?? ÏúºÎ°ú ÎèåÏïÑÏÑú.Îπ†Î¶Ñ
- list
- 1) Î¨∏Ï†ú Ìï¥Í≤∞ ÏãúÍ∞Ñ Îã®Ï∂ï ÎÖ∏Î†• Ìï¥Î≥¥Í∏∞~
- 2) cython? ÏùÄ Ïñ¥Î†§ÏõÄ

In [56]:
# 1. Î≤îÏúÑ Í≥ÑÏÇ∞ Ìï®Ïàò
def compute_ranges(original_df, dtypes):
    ranges = []
    for col in original_df.columns:
        if dtypes[col] == 'category':
            ranges.append(0)
        else:
            col_data = original_df[col].astype(float)
            ranges.append(col_data.max() - col_data.min())
    return dict(zip(original_df.columns, ranges))

# 2. ÏõêÌï´ range Í≥ÑÏÇ∞
def get_onehot_ranges(data_encoded, original_columns, raw_ranges):
    onehot_ranges = []
    for col in data_encoded.columns:
        base_col = col.split('_')[0]
        range_val = raw_ranges.get(base_col, 1)
        onehot_ranges.append(0 if range_val == 0 else 1)
    return np.array(onehot_ranges, dtype=np.float32)

# 3. CuPy Í∏∞Î∞ò originality Í≥ÑÏÇ∞
def calculate_originality_score_cupy(origin_np, synth_np, ranges_np):
    origin = cp.asarray(origin_np)
    synth = cp.asarray(synth_np)
    ranges = cp.asarray(ranges_np)
    
    n_s, k = synth.shape
    n_o = origin.shape[0]
    cnt_satisfied = 0
    stime = time.time()

    for i in range(n_s):
        y = synth[i]

        diff = cp.abs(origin - y)
        normed = cp.where(ranges == 0, (origin != y).astype(cp.float32), diff / ranges)
        dists = cp.mean(normed, axis=1)
        d_s = cp.min(dists)
        jj = cp.argmin(dists)

        mask = cp.arange(n_o) != jj
        origin_others = origin[mask]
        ref = origin[jj]

        diff_o = cp.abs(origin_others - ref)
        normed_o = cp.where(ranges == 0, (origin_others != ref).astype(cp.float32), diff_o / ranges)
        dists_o = cp.mean(normed_o, axis=1)
        d_o = cp.min(dists_o)

        if d_s < d_o:
            cnt_satisfied += 1

    etime = time.time()
    score = cnt_satisfied / n_s

    print(f"\n‚úÖ Originality Score (d_s < d_o): {score:.4f}")
    print(f"‚úîÔ∏è {cnt_satisfied} / {n_s} Ìï©ÏÑ± ÏÉòÌîåÏù¥ Ï°∞Í±¥ ÎßåÏ°±")
    print(f"‚è±Ô∏è Ïã§Ìñâ ÏãúÍ∞Ñ: {etime - stime:.2f}Ï¥à")
    return score

In [57]:
# 4. ranges Í≥ÑÏÇ∞ (ÏõêÎ≥∏ Í∏∞Ï§Ä)
raw_ranges = compute_ranges(data, dtypes)

# 5. ÏõêÌï´ Ïù∏ÏΩîÎî©
data_encoded = pd.get_dummies(data)
synth_encoded = pd.get_dummies(synth_data)

# 6. Ïª¨Îüº ÌÜµÏùº
all_columns = sorted(set(data_encoded.columns).union(set(synth_encoded.columns)))
data_encoded = data_encoded.reindex(columns=all_columns, fill_value=0).astype(np.float32)
synth_encoded = synth_encoded.reindex(columns=all_columns, fill_value=0).astype(np.float32)

# 7. onehotÏóê ÎåÄÌïú range Îß§Ìïë
ranges_np = get_onehot_ranges(data_encoded, data.columns, raw_ranges)

# 8. NumPy Î≥ÄÌôò
origin_np = data_encoded.to_numpy()
synth_np = synth_encoded.to_numpy()

# 9. originality score Í≥ÑÏÇ∞
originality_score = calculate_originality_score_cupy(origin_np, synth_np, ranges_np)

if originality_score >= 0.5:
    print("üéØ Originality Í∏∞Ï§Ä ÎßåÏ°±")
else:
    print("‚ö†Ô∏è Originality Í∏∞Ï§Ä ÎØ∏Îã¨")

‚úÖ Originality Score (d_s < d_o): 0.4479
‚úîÔ∏è 21877 / 48842 Ìï©ÏÑ± ÏÉòÌîåÏù¥ Ï°∞Í±¥ ÎßåÏ°±
‚è±Ô∏è Ïã§Ìñâ ÏãúÍ∞Ñ: 112.32Ï¥à
‚ö†Ô∏è Originality Í∏∞Ï§Ä ÎØ∏Îã¨